html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    overflow-x: hidden;
    font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
    font-size: 12px;
    color: #000;
    letter-spacing: -0.5px;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    vertical-align: middle;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color:#333;
}

address { font-size: inherit; color: inherit; text-decoration: none; }

b, strong {
    font-weight: bold;
}

input, textarea, select, button {
    font: inherit;
}

button {
    cursor: pointer;
    outline: 0;
    background: none;
}

button>span {
    position: relative;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button[disabled], input[disabled] {
    cursor: default;
}

textarea {
    overflow: auto;
}

textarea, input {
    resize: none;
}

legend {
    visibility: hidden;
    font-size: 0;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.hide {
    display: none;
}

.hide-text {
    text-indent: -9999px;
    font-size: 0;
}

table caption {
    text-indent: -9999px;
    font-size: 0;
}

input::-webkit-input-placeholder { color:#989898; }
input:-ms-input-placeholder { color:#989898; }

/* ------------------------------------
            예약어 추가
------------------------------------- */

/* display */

.d-block {
    display: block;
}

.d-iblock {
    display: inline-block;
}

/* margin */

.mt0 {
    margin-top: 0px !important;
}

.mt05 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt80 {
    margin-top: 80px;
}

.mr05 {
    margin-right: 5px;
}

.mr07 {
    margin-right: 7px;
}

.mr10 {
    margin-right: 10px;
}

.mr30 {
    margin-right: 30px;
}

.mr50 {
    margin-right: 50px;
}

.mr70 {
    margin-right: 70px;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb05 {
    margin-bottom: 5px;
}

.mb08 {
    margin-bottom: 8px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb50 {
    margin-bottom: 50px;
}

.mb60 {
    margin-bottom: 60px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

/* visibility */

.vsbt-h {
    visibility: hidden;
}

/* padding */

.pl20 {
    padding-left: 30px;
}

.pl30 {
    padding-left: 30px;
}

.pr20 {
    padding-right: 20px;
}

/* float */

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

/* text-align*/

.ta-l {
    text-align: left !important;
}

.ta-r {
    text-align: right !important;
}

.ta-c {
    text-align: center;
}

/* text bold */

.bold {
    font-weight: bold;
}

/* 가격 표시 */
.goods-name { font-size: 14px; color: #333; line-height: 18px; }
.sale-price { font-family: tahoma; font-size: 16px; color: #f43142; line-height: 16px; font-weight: bold; }
.sale-price:after { content:'원'; display:inline-block; width:13px; text-align:center;  font-family: 'Malgun Gothic', '맑은 고딕', sans-serif; font-size: 14px; font-weight: normal; }
.sale-price.blk { color:#333; }
.org-price { font-family: tahoma; font-size: 14px; color: #666; text-decoration: line-through; }
.org-price:after { content:'원'; font-family: 'Malgun Gothic', '맑은 고딕', sans-serif; font-size: 14px; line-height: 14px; }
.opt-price { font-family: tahoma; font-size: 20px; color: #333; line-height: 20px; font-weight: bold; }
.opt-price:after { content:'원'; font-family: 'Malgun Gothic', '맑은 고딕', sans-serif; font-size: 16px; font-weight: normal; }
.use-point { font-size:16px; font-family:tahoma; font-weight:bold; }
.use-point:after { content:"P"; display:inline-block; width:13px; text-align:center; font-size:14px; font-family:'Malgun Gothic','맑은 고딕',sans-serif; font-weight:normal;}

/* breadcrumb */
ul.breadcrumb { width: 100%; position: relative; padding: 25px 0; }
ul.breadcrumb li { display: inline-block; font-size: 13px; line-height: 13px; color: #666; margin-right: 12px; }
ul.breadcrumb li:nth-child(1) img { vertical-align: -1px; line-height: 13px; }
ul.breadcrumb li img { vertical-align: 1px; line-height: 13px; }

/* ------------------------------------
            공통 ICON
------------------------------------- */
[class^="icon"] { display:inline-block; }

.icon-camera { width: 18px; height: 15px; background: url('../image/icon/ico_camera.png') 0 0 no-repeat; text-indent: -9999px; }
.icon-like { width:25px; height:23px; background:url(../image/icon/icon_like.png) no-repeat center; }
.icon-like.on { background:url(../image/icon/icon_like_on.png) no-repeat center; }
.icon-like.disabled { background:url(../image/icon/icon_like_disabled.png) no-repeat center; }
.icon-like2 { width:25px; height:23px; background:url(../image/icon/icon_like.png) no-repeat center; }
.icon-like2.on { background:url(../image/icon/icon_like_on.png) no-repeat center; }
.icon-trash { width:25px; height:26px; background:url(../image/icon/icon_trash.png) no-repeat center; }
.icon-point { width:27px; height:27px; background:url(../image/icon/icon_point.png) no-repeat center; }
.icon-cart-big { width:64px; height:55px; background:url(../image/icon/icon_cart_big.png) no-repeat center; }
.icon-cart-point { width:22px; height:22px; background:url(../image/icon/icon_cart_point.png) no-repeat center; }
.icon-arr-top { width:9px; height:9px; background:url(../image/icon/icon_arr_top.png) no-repeat center; }
.icon-star { width:14px; height:13px; background:url(../image/icon/icon_star.png) no-repeat center; }
.icon-home { width:15px; height:14px; background:url(../image/icon/icon_home.png) no-repeat center; }
.icon-filter { width:16px; height:14px; background:url(../image/icon/icon_filter.png) no-repeat center; }
.icon-pc { width:21px; height:20px; background:url(../image/icon/icon_pc.png) no-repeat center; }
.icon-mobile { width:14px; height:20px; background:url(../image/icon/icon_mobile.png) no-repeat center; }
.icon-calendar { width:16px; height:16px; background:url(../image/icon/icon_calendar.png) no-repeat center; }
.icon-refresh { width:13px; height:13px; background:url(../image/icon/icon_refresh.png) no-repeat center; }
.icon-chk-wh { width:16px; height:11px; background:url(../image/icon/icon_chk_wh.png) no-repeat center; }
.icon-clip { width:8px; height:13px; background:url(../image/icon/icon_clip.png) no-repeat center; }
.icon-coupon-down { width:19px; height:13px; background:url(../image/icon/icon_coupon_down.png) no-repeat center; }

/* ------------------------------------
            컴포넌트
------------------------------------- */

/* 체크박스 only */
.btn-chk { display:inline-block; position:relative; width:20px; height:20px; vertical-align:middle; }
.btn-chk input[type="checkbox"] {  -webkit-appearance:none; appearance:none; outline-width:0; position:absolute; top:0; left:0;  }
.btn-chk input[type="checkbox"] + label { display:inline-block; width:20px; height:20px; background:url(../image/btn/btn_checkbox.png) no-repeat 0 0; position:absolute; top:0; left:0; cursor:pointer; }
.btn-chk input[type="checkbox"]:checked + label { background:url(../image/btn/btn_checkbox.png) no-repeat 0 -20px; }

.btn-radio { display:inline-block; position:relative; height:20px; vertical-align:middle; }
.btn-radio input[type="radio"] {  -webkit-appearance:none; appearance:none; outline-width:0; position:absolute; top:0; left:0; visibility:hidden;}
.btn-radio input[type="radio"] + label { display:inline-block; width:20px; height:20px; background:url(../image/btn/btn_radio.png) no-repeat 0 0; cursor:pointer; font-size:14px;}
.btn-radio input[type="radio"]:checked + label { background:url(../image/btn/btn_radio.png) no-repeat 0 -20px; }

/* 체크박스,라디오 with label */
.btn-chk-label { display:inline-block; position:relative; height:20px; vertical-align:middle; }
.btn-chk-label input[type="checkbox"] {  -webkit-appearance:none; appearance:none; outline-width:0; position:absolute; top:0; left:0; visibility:hidden;}
.btn-chk-label input[type="checkbox"] + label { display:inline-block; height:20px; background:url(../image/btn/btn_checkbox.png) no-repeat 0 0; cursor:pointer; padding-left:32px; font-size:14px;}
.btn-chk-label input[type="checkbox"]:checked + label { background:url(../image/btn/btn_checkbox.png) no-repeat 0 -20px; }

.btn-radio-label { display:inline-block; position:relative; height:20px; vertical-align:middle; }
.btn-radio-label input[type="radio"] {  -webkit-appearance:none; appearance:none; outline-width:0; position:absolute; top:0; left:0; visibility:hidden;}
.btn-radio-label input[type="radio"] + label { display:inline-block; height:20px; background:url(../image/btn/btn_radio.png) no-repeat 0 0; cursor:pointer; padding-left:32px; font-size:14px;}
.btn-radio-label input[type="radio"]:checked + label { background:url(../image/btn/btn_radio.png) no-repeat 0 -20px; }

/* 버튼 */
button[type="button"],
a[class^="btn-"] {  display:inline-block; vertical-align:top; color:#333; box-sizing:border-box; text-align:center; }
.btn-small { min-width:75px; height:28px; background-color:#fff; font-size:12px; }
a.btn-small { line-height:26px; }
.btn-small.gray { background-color:#e0e0e0; }
.btn-small.line-gray { border:1px solid #c2c2c2; }
.btn-small.green { background-color:#20c44b; color:#fff; }
.btn-small.line-green { border:1px solid #20c44b; color:#20c44b; }

.btn-basic { min-width:100px; height:36px; background-color:#fff; font-size:14px; }
a.btn-basic { line-height:32px; }
.btn-basic.gray { background-color:#e0e0e0; }
.btn-basic.line-gray { border:1px solid #c2c2c2; }
.btn-basic.green { background-color:#20c44b; color:#fff; }
.btn-basic.line-green { border:1px solid #20c44b; color:#20c44b; }

.btn-medium { min-width:140px; height:45px; background-color:#fff; font-size:16px; }
a.btn-medium { line-height:43px; }
.btn-medium.gray { background-color:#e0e0e0; }
.btn-medium.line-gray { border:1px solid #c2c2c2; }
.btn-medium.green { background-color:#20c44b; color:#fff; }
.btn-medium.line-green { border:1px solid #20c44b; color:#20c44b; }

.btn-big { min-width:200px; height:60px; background-color:#fff; font-size:18px; font-weight:bold; }
a.btn-big { line-height:58px; }
.btn-big.gray { background-color:#e0e0e0; }
.btn-big.line-gray { border:1px solid #c2c2c2; }
.btn-big.green { background-color:#20c44b; color:#fff; }
.btn-big.line-green { border:1px solid #20c44b; color:#20c44b; }

/* input, select */
[type="text"],
[type="password"] { outline-width:0; height:36px; padding:0 12px; border:1px solid #e0e0e0; box-sizing:border-box; font-size:14px;}
select { height:36px; font-size:14px; padding:0 12px; outline-width:0; border:1px solid #e0e0e0; appearance:none; -webkit-appearance:none; background:url(../image/common/select_arr_down.png) no-repeat center right+10px; background-color:#fff;  }
select::-ms-expand { display:none; }
::-webkit-input-placeholder { color:#ccc; }
input:-ms-input-placeholder { color:#ccc; }

/* Option - amount */
.amount { display:inline-block; background-color:#fff; }
.amount button { width:33px; height:33px; float:left; box-sizing:border-box; position:relative; border:1px solid #d8d8d8; vertical-align:top; }
.amount .btn-minus:before { content:""; display:inline-block; width:13px; height:1px; background-color:#d8d8d8; position:absolute; top:15px; left:9px; }
.amount .btn-plus:before { content:""; display:inline-block; width:13px; height:1px; background-color:#d8d8d8; position:absolute; top:15px; left:9px; }
.amount .btn-plus:after { content:""; display:inline-block; width:1px; height:13px; background-color:#d8d8d8; position:absolute; top:9px; left:15px; }
.amount input { float:left; width:44px; height:33px; font-size:14px; color:#333; border:0; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; text-align:center; vertical-align:top; outline-width:0; }
.amount.soldout,
.amount.soldout input { background-color:#f5f5f5; color:#bbb;}

/* Search Form */
.box-search { padding:30px 40px; background-color:#f7f7f7; }
.box-search .input-area { display:inline-block; float:left; }
.box-search .input-area label { display:inline-block; width:89px; font-size:14px; line-height:36px;  }
.box-search > .btn-small { width:90px; float:right; font-size:14px; font-weight:bold; }

.sel-month { display:inline-block; vertical-align:top; }
.sel-month li { display:inline-block; float:left; box-sizing:border-box; width:75px; height:36px; line-height:34px; text-align:center; border:1px solid #e0e0e0; border-left:0; background-color:#fff; cursor:pointer; font-size:14px; }
.sel-month li:first-child { border-left:1px solid #e0e0e0; }
.sel-month li.active { background-color:#a9a9a9; border-color:#a9a9a9; color:#fff;}
.datepicker { display:inline-block; vertical-align:top; }
.datepicker .date { display:inline-block; position:relative; }
.datepicker .date input { width:130px; }
.datepicker .dash { display:inline-block; padding:0 6px;}
.datepicker .date button { position:absolute; top:10px; right:10px;}

/* imaged upload preview */
.filebox.preview-image {display:inline-block;font-size:0; position:relative; }
.filebox .photoBox {position:relative; display:inline-block; width:80px; height:80px; border:1px solid #d3d3d3; cursor:pointer; box-sizing:border-box; text-align:center; background: #f7f7f7; }
.filebox .photoBox span {display:block; content:""; position:absolute; top:50%; left:50%; z-index:10; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); }
.filebox .photoBox .icon-photo-line {width:22px;height:18px;background-position:100%;opacity:.4;}
.filebox .photoBox + .del {display:none; position:absolute; width: 100%; height: 100%; top:0; right:0; background:rgba(0,0,0,.4) url(../image/btn/btn_imageupload_delete.png) 50% 50% no-repeat; cursor:pointer; z-index: 11;}
.filebox .photoBox.after {position:absolute; top:0; left:0; background:none;}
.filebox .photoBox.after span {font-size:0;  opacity:0;}
.filebox .photoBox.after + .del {display:block;}
.filebox .upload-thumb-wrap {position:relative; display:block; width: 80px; height:80px; border:1px solid #d3d3d3; box-sizing:border-box; overflow: hidden; }
.filebox .upload-display img {display: block; width: auto; height: 120px; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); box-sizing:border-box;}
.multi-filebox {font-size:0;}
.multi-filebox .filebox.preview-image + .filebox.preview-image {margin-left:10px;}
.multi-filebox + .board-attention {line-height:18px;}
.icon-photo-grey { width: 23px; height: 22px; background:url(../image/icon/icon_photo_grey.png) no-repeat;}
.filebox input[type="file"] { position: absolute; width:1px; height:1px; padding:0; margin: -1px; overflow:hidden; clip:rect(0,0,0,0); border:0; }

/* rating */
.rating { position: relative; display: inline-block; font-size: 0; vertical-align:middle;}
.rating-input {float: right; margin: 0 0 0 -25px; padding:0; width: 25px; height: 19px;  opacity: 0;}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star { background: url('../image/icon/ico_star_on.png') no-repeat; }
.rating-star,
.rating:hover .rating-star {position: relative; float: right; display: block; width: 16px; height: 16px; background: url('../image/icon/ico_star_off.png') no-repeat; }

.rating-input:checked ~ .rating-star span {display:none;}
.rating-star span {display:none; position:absolute; top:0; width:25px; background:#fff; text-align:center; font-size:14px; line-height:19px; font-weight:700;}
.rating-star span em {font-size:0;}

.rating-star.score1 span {right: -130px;z-index:1;}
.rating-star.score2 span {right: -105px;z-index:2;}
.rating-star.score3 span {right: -80px;z-index:3;}
.rating-star.score4 span {right: -55px;z-index:4;}
.rating-star.score5 span {right: -30px;z-index:5;}

/* Paging */
.list-paging { text-align:center; margin-top:30px; }
.list-paging a { display:inline-block; width:30px; height:30px; line-height:28px; text-align:center; font-size:14px; border:1px solid #e0e0e0; cursor:pointer; box-sizing:border-box; vertical-align:top; outline-width:0;  }
.list-paging a.current { background-color:#20c44b; color:#fff; border-color:#20c44b; }
.list-paging a.first { background:url(../image/icon/icon_paging_prevAll.png) no-repeat center; }
.list-paging a.previous { background:url(../image/icon/icon_paging_prev.png) no-repeat center; margin-right:6px;}
.list-paging a.next { background:url(../image/icon/icon_paging_next.png) no-repeat center; margin-left:6px;}
.list-paging a.last { background:url(../image/icon/icon_paging_nextAll.png) no-repeat center; }

.dataTables_wrapper .dataTables_processing { position: absolute; top: 50%; left: 50%; width: 100%; height: 40px; margin-left: -50%; margin-top: -25px; padding-top: 20px; text-align: center; font-size: 1.2em; background-color: white; }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% END %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
